
.allNotes {
    display: flex;
    height: 100vh;
}

.allNotesMain {
    flex-grow: 1;
    padding: 70px 15px;
    background-color: #fff;
    overflow-y: auto;
}

.notes {
    padding: 30px;
    background-color: #f7f8fa;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}


.search-input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}